<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>Base HTML Template</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a href="{{url_for('index')}}">TO THE HOME PAGE</a>
	</nav>
    {%block body%}

    {%endblock body%}
	<h1>THIS IS OUTSIDE OF THE BODY BLOCK</h1>
</body>
</html>