<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Reg</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>


        <h1> Welcome to a test registration </h1>
        <form method='POST'>
            {{form.hidden_tag()}}
            {{form.u_name.label}}{{form.u_name}}
            <br/>
            {{form.checked_in.label}}{{form.checked_in}}
            <br/>
            {{form.activity.label}}{{form.activity}}
            <br/>
            {{form.date_today.label}}{{form.date_today}}
            <br/>
            {{form.notes.label}} {{form.notes}}
            <br/>
            {{form.submit()}}

        </form>
        
        <script src="" async defer></script>
    </body>
</html>


