<div class="reg-content">
  <form action="" class="form">

   <span></span>
   <span></span>
   <span></span>
   <span></span>

 <div class="form-inner">
   <h2>Register an employee</h2>

    <div class="content">
      <input class="input" type="text" placeholder="First Name" />
      <input class="input" type="text" placeholder="Last Name" />

      <input class="input" type="text" placeholder="Work Email Address" />
      <input class="input" type="password" placeholder="Password" [(ngModel)]="password"/>
      <input class="input" type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword"/>

      <button class="btn">Register</button></div>
   </div>
</form>
</div>

