* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.reg-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #0c0116;
}

label{
  color: #fff;
  padding: 5px;
}

span{
  height: 1px;
}

/* Basic structure of login form */
.form {
  position: relative;
  padding: 60px 15px;
  width: 370px;
  height: 700px;
  background: #0c0116;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgb(116, 119, 114);
  border-radius: 25px;
}

/* The main area of the login form */
.form-inner {
  position: absolute;
  height: 98%;
  width: 98%;
  top: 50%;
  left: 50%;
  background: #0c0116;
  transform: translate(-50%, -50%);
}

.content {
  height: auto;
  width: auto;
  padding: 25px;
}

/* Heading design of login form */
.form-inner h2 {
  font-size: 25px;
  color: #d7a3d7;
  text-align: center;
  padding-top: 35px;
}

/* Place to input the login form */
.input {
  display: block;
  padding: 12px 15px;
  width: 100%;
  left: 50%;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  border: 2px solid rgb(109, 87, 121);
  outline: none;
  text-align: center;
  background: #19052c;
  color: white;
}

/* Login button */
.btn {
  cursor: pointer;
  color: white;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  outline: none;
  background: #800080;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.4s;
}

.btn:hover {
  background: #c907c9;
}

/* Border animation of login form */
.form span {
  position: absolute;
  height: 50%;
  width: 50%;
}

/* Animation of the first line */
.form span:nth-child(1) {
  background: #ffda05;
  top: 0;
  left: -48%;
  animation: 5s span1 infinite linear;
  animation-delay: 1s;
}

@keyframes span1 {
0% {
  top: -48%;
  left: -48%;
}
25% {
  top: -48%;
  left: 98%;
}
50% {
  top: 98%;
  left: 98%;
}
75% {
  top: 98%;
  left: -48%;
}
100% {
  top: -48%;
  left: -48%;
}
}
/* Animation of the second line */
.form span:nth-child(2) {
  background: #00a800;
  bottom: 0;
  right: -48%;
  animation: 5s span2 infinite linear;
}

@keyframes span2 {
0% {
  bottom: -48%;
  right: -48%;
}
25% {
  bottom: -48%;
  right: 98%;
}
50% {
  bottom: 98%;
  right: 98%;
}
75% {
  bottom: 98%;
  right: -48%;
}
100% {
  bottom: -48%;
  right: -48%;
}
}
/* Animation of the third line */
.form span:nth-child(3) {
  background: #800080;
  right: -48%;
  top: 0;
  animation: 5s span3 infinite linear;
}

@keyframes span3 {
0% {
  top: -48%;
  left: -48%;
}
25% {
  top: -48%;
  left: 98%;
}
50% {
  top: 98%;
  left: 98%;
}
75% {
  top: 98%;
  left: -48%;
}
100% {
  top: -48%;
  left: -48%;
}
}
/* Animation of the fourth line */
.form span:nth-child(4) {
  background: #ff0000;
  bottom: 0;
  right: -48%;
  animation: 5s span4 infinite linear;
  animation-delay: 1s;
}

@keyframes span4 {
0% {
  bottom: -48%;
  right: -48%;
}
25% {
  bottom: -48%;
  right: 98%;
}
50% {
  bottom: 98%;
  right: 98%;
}
75% {
  bottom: 98%;
  right: -48%;
}
100% {
  bottom: -48%;
  right: -48%;
}
}

