.header{
  border: solid;
  border-radius: 20px;
  margin: 1em;
  padding: 1rem;
}

.main-content{
  border: solid;
  border-radius: 20px;
  margin: 1em;
  height: 70vh;
  padding: 1rem;
}

.footer{
  border: solid;
  border-radius: 20px;
  margin: 1em;
  padding: 1rem;
}
