<div class="content">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required placeholder="Work Email">
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="Password">
    </div>
    <button type="submit" [disabled]="!loginForm.form.valid">Log In</button>
  </form>

</div>
