<div class="split-container">
  <div class="left-section">

  </div>
  <div class="right-section">
    <h1>Insert Clock</h1>
    <form>
<!--      Date picker-->
      <div>
        <label>Date:</label>
        <input type="date" name="t_date">
      </div>
<!--      Billable-->
      <div>
        <label>Billable:</label>
        <select name="t_billable">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
<!--     Project -->
      <div>
        <label>Project:</label>
        <input type="text" name="t_project">
      </div>
<!--      Client-->
      <div>
        <label>Client:</label>
        <select name="client">
          <option></option>
        </select>
      </div>

<!--      Task-->
      <div>
        <label>Task:</label>
        <select name="task">
          <option ></option>
        </select>
      </div>

<!--      Comments-->
      <div>
        <label>Comment:</label>
        <input type="text" name="t_comment">
      </div>
<!--      Start time-->
      <div>
        <label>Start Time:</label>
        <input type="time" name="t_start">
      </div>
<!--      End time-->
      <div>
        <label>End Time:</label>
        <input type="time" name="t_end">
      </div>
<!--     Calculated Time-->
      <div>
        <label>Spent Time:</label>
        <input type="text" name="t_spent" disabled>
      </div>

        <button type="submit">Submit</button>


    </form>
  </div>
</div>
