<div class="split-container">
  <div class="left-section">
    <table>
      <thead>
        <tr>
          <th>Clock ID</th>
          <th>Date</th>
          <th>Billable</th>
          <th>Project</th>
          <th>Client</th>
          <th>Task</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Spent Time</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let timesheet of timesheetData">
        <td>{{ timesheet.sheet_ID }}</td>
        <td>{{ timesheet.date }}</td>
        <td>{{ timesheet.billable }}</td>
        <td>{{ timesheet.project }}</td>
<!--        <td>{{ timesheet.client_id }}</td>-->
        <td>{{ timesheet.client_name }}</td>
<!--        <td>{{ timesheet.task_id }}</td>-->
        <td>{{timesheet.task_name}}</td>
        <td>{{ timesheet.start_time }}</td>
        <td>{{ timesheet.end_time }}</td>
        <td>{{ timesheet.time_spent }}</td>
        <td>{{ timesheet.comment }}</td>
      </tr>
    </tbody>
    </table>
  </div>


  <div class="right-section">
    <h1>Clock Task</h1>
    <form (submit)="submitClockData()">
      <div class="form-group">
        <label>Date:</label>
        <input type="date" name="t_date" [(ngModel)]="date" (change)="handleDateChange($event)">
      </div>

      <div class="form-field">
        <label>Billable:</label>
        <select name="t_billable" [(ngModel)]="billable">
          <option *ngFor="let option of billableOptions" [value]="option.value">{{ option.label }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Project:</label>
        <input type="text" name="t_project" [(ngModel)]="project" (change)="handleProjectChange($event)">
      </div>

      <div class="form-group">
        <label>Client:</label>
        <select name="client" [(ngModel)]="selectedClient" (change)="handleClientChange($event)">
          <option *ngFor="let client of clients.slice(1)" [value]="client.Name">{{ client.Name }} - {{ client.Description }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Task:</label>
        <select name="task" [(ngModel)]="selectedTask" (change)="handleTaskChange($event)">
          <option *ngFor="let task of tasks.slice(1)" [value]="task.Name">{{ task.Name }} - {{ task.Description }}</option>
        </select>
      </div>

      <div class="form-group">
        <label>Comment:</label>
        <input type="text" name="t_comment" [(ngModel)]="comment" (change)="handleCommentChange($event)">
      </div>

      <div class="form-group">
        <label>Start Time:</label>
        <input type="time" name="t_start" [(ngModel)]="startTime" (ngModelChange)="calculateSpentTime()">
      </div>

      <div class="form-group">
        <label>End Time:</label>
        <input type="time" name="t_end" [(ngModel)]="endTime" (ngModelChange)="calculateSpentTime()">
      </div>

      <div class="form-group">
        <label>Spent Time:</label>
        <span>{{ spentTime }}</span>
      </div>

      <button type="submit" class="submit-button" [disabled]="!isFormValid()">Submit</button>
    </form>
  </div>
</div>
