.content, .insert {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
}

.content {
  width: 100%;
  font-size: 15px;
}

.insert {
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin: 1em;
  padding: 1em;
  display: flex;
}

.breaker{
  margin: 10px;
  padding: 10px;
}
