.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 30px;
  color: #000;
}

form {
  font-size: 15px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.5s ease-in-out;
  margin: auto;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
}

form:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
}

input[type="text"], input[type="password"], input[type="email"], select {
  background-color: #f9f9f9;
  text-align: center;
  border: none;
  border-radius: 20px;
  border-bottom: 2px solid #000;
  padding: 10px;
  margin: 20px;
  width: 100%;
  transition: all 0.5s ease-in-out;
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

input[type="text"]:focus, input[type="password"], input[type="email"]:focus, select:focus {
  border-bottom: 2px solid #8bc34a;
}

input[type="text"]:not(:placeholder-shown), input[type="password"], input[type="email"]:not(:placeholder-shown), select:not(:placeholder-shown) {
  border-bottom: 2px solid #8bc34a;
}

button[type="submit"] {
  background-color: #03a9f4;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #8bc34a;
}

button[type="submit"]:active {
  transform: scale(0.9);
}

option.standard {
  background-color: lightgray;
}

option.superuser {
  background-color: lightcoral;
  color: white;
}
@media screen and (max-width: 600px) {
  form {
    font-size: 12px;
    max-width: 300px;
    margin-top: 50px;
  }
  input[type="text"], input[type="password"], input[type="email"] {
    margin: 10px;
  }
  button[type="submit"] {
    margin: 10px;
  }
}
